.edit-guest-subheader {
    background: rgb(200, 200, 200);
    margin-bottom: 40px;
}

.edit-guest-sub-subheader {
    padding: 15px 0;
    position: relative;
}

.edit-guest-title {
    display: block;
    width: 60%;
    padding-right: 10px;
    font-size: 2rem;
    float: left;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.edit-guest-save-div {
    width: 40%;
    float: right;
    display: block;
}

.edit-guest-save {
    padding: 15px 25px;
    background: $green;
    color: $color-2;
    border-radius: 5px;
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    float: right;
}

.edit-guest-section-header {
    margin-bottom:15px;
}

.edit-guest-form {
    background: darken($peach, 10);
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 15px;
}

.alergy-diet {
    width: 50%;
    float: left;
}