.edit-guest-subheader {
<<<<<<< HEAD
    background: rgb(200, 200, 200);
    margin-bottom: 40px;
=======
  background: rgb(222, 222, 222);
  margin-bottom: 40px;
>>>>>>> 2ce68e62668cd28251bd9bb155bed10c5021d84f
}

.edit-guest-sub-subheader {
  padding: 15px 0;
  position: relative;
}

.edit-guest-title {
  display: block;
  width: 60%;
  padding-right: 10px;
  font-size: 2rem;
  float: left;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.edit-guest-save-div {
  width: 40%;
  float: right;
  display: block;
}

.edit-guest-save {
  padding: 15px 25px;
  background: $green;
  color: $color-2;
  border-radius: 5px;
  font-size: 1.5rem;
  display: inline-block;
  text-align: center;
  float: right;
}

.edit-guest-section-header {
  margin-bottom: 15px;
}

.edit-guest-form {
  background: darken($peach, 10);
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 15px;
}

.allergy-diet {
    width: 50%;
    float: left;
    position: relative;
    font-size: 2rem;
    font-family: $secondary-font;
    margin: 10px 0;
}

.delete-ingredient {
    display: inline-block;
    float: left;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: $red;
    color: $color-2;
    position: relative;
    margin-right: 8px;
    margin-left: 5px;
}

.ingredient {
    float: left;
}

.delete-ingredient .fa-times {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
