.edit-guest-subheader {
  background: rgb(222, 222, 222);
  margin-bottom: 40px;
}

.edit-guest-sub-subheader {
  padding: 15px 0;
  position: relative;
}

.edit-guest-title {
  display: block;
  width: 60%;
  padding-right: 10px;
  font-size: 2rem;
  float: left;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.edit-guest-save-div {
  width: 40%;
  float: right;
  display: block;
}

.edit-guest-save {
  padding: 15px 25px;
  background: $green;
  color: $color-2;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  float: right;
}

.edit-guest-section-header {
  margin-bottom: 15px;
}

.edit-guest-form {
  background: darken($peach, 10);
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 15px;
}

.allergy-diet {
  width: 50%;
  float: left;
  position: relative;
  font-size: 2rem;
  font-family: $secondary-font;
  margin: 10px 0;
}

.delete-ingredient {
  float: left;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: $red;
  color: $color-2;
  position: relative;
  margin-right: 8px;
  margin-left: 5px;
}

.ingredient {
  float: left;
}

.delete-ingredient .fa-times {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.restricted-ingredient-label-input-container {
  position: relative;
  float: left;
  width: 30%;
  min-width: 280px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.add-restricted-ingredient-label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  margin: 0;
  cursor: text;
  font-size: 1.8rem;
  transition: 0.3s;
}

.add-restricted-ingredient-input {
  font-size: 2rem;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.add-restricted-ingredient-button {
  font-size: 2rem;
  border-radius: 10px;
  border: none;
  margin: 20px 0 20px 10px;
  padding: 10px 20px;
  background: $green;
  color: $color-2;
}

.add-restricted-ingredient-input:focus + .add-restricted-ingredient-label,
.add-restricted-ingredient-input:not([value=""]) + .add-restricted-ingredient-label {
  transition: 0.3s;
  top: -15px;
  left: 10px;
  font-size: 1.5rem;
}
