.event-page {
  & .event-title {
    margin: 25px 0;
    & h2 {
      font-size: 5rem;
      float: left;
      width: 50%;
    }
    & a {
      font-size: 2rem;
      float: left;
      width: 50%;
      margin: 20px 0;
      text-align: right;
    }
  }
  .guestList {
    float: left;
    width: calc(20% - 20px);
    margin: 25px 10px;
  }
  .guest p {
    font-size: 2.5rem;
    float: left;
    width: 80%;
  }
  .fakeButton {
    float: left;
    width: 10%;
    & i {
      font-size: 1.8rem;
    }
  }
  .remove-friend-button {
    background: $red;
    height: 20px;
    width: 20px;
    float: left;
    color: white;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    position: relative;
  }
  .remove-friend-button .fa-times {
    position: absolute;
    right: -7px;
    top: 10px;
  }
  .matching-recipes {
    float: left;
    width: calc(80% - 20px);
    margin: 25px 10px;
  }
  .guests {
    overflow: scroll; 
  }
  .guestList a {
    border: $green 1px solid;
    background: $green;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  li.guest {
    margin: 5px 0px;
  }
  .guestList form {
    position: relative;
    padding: 0;
  }
  .guestList label {
    position: absolute;
    transform: translate(0,16px) scale(1);
    top: -10px;
    & .active {
      transform: translate(0, 4px) scale(.75);
      top: -16px
    }
  }
  .guestList input {
    border: none;
    outline: 0;
    font-size: 1.6rem;
    padding: 16px 0 10px;
  }
  .add-friend-button {
    border: $red 1px solid;
    border-radius: 5px;
    background: $red;
    padding: 7px;
    margin-top: 5px;
    position: relative;
    left: 75%;
    color: white;
  }
  .filter-recipes-label {
    font-size: 2.5rem;
  }
  .filter-recipes-input {
    width: calc(85% - 30px);
    font-size: 1.8rem;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 15px;
  }

  // .courses {
  //   width: 100%;
  //   border: none;
  //   & label {
  //     display: inline-block;
  //     font-size:  1.5rem;
  //     width: calc(100% / 4);
  //   }
  // }
  // input.course-checkbox {
  //   display: inline-block;
  //   font-size: 1.5rem;
  //   visibility: hidden;
  //   width: 0;
  // }


}