.event-page {
  .wrapper.body {
    padding-top: 68px;
  }
  
  .app-name {
    float: left;
    width: 50%;
  }

  .big-mac {
    display: none;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 200;
  }

  .event-header-left {
    width: calc(100% / 3 * 2);
    float: left;
  }

  .user {
    width: calc(100% / 3);
    float: left;

    & h2 {
      float: right;
    }
  }

  .event-title-div {
    width: 50%;
    text-align: center;
    display: block;
    float: left;
    position: relative;
    height: 68px;
  }

  .event-title {
    color: $color-2;
    font-size: 2rem;
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .event-main-page-div {
    padding-top: 15px;
  }

  .event-main-page {
    padding: 15px 25px;
    background: $green;
    color: $color-2;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    float: right;
  }

  .guestList {
    float: left;
    width: calc(20% - 20px);
    margin: 25px 10px 25px 0;
    background: #505050;
    padding: 15px;
    padding-bottom: 30px;
    border: 1px solid #505050;
    border-radius: 5px;
  }
  .guest p {
    font-size: 2.2em;
    float: left;
    width: 70%;
    color: white;
  }
  .fakeButton {
    float: left;
    width: 0;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    transition: 0.1s;
    & i {
      font-size: 2.2rem;
    }

    &:hover {
      transition: 0.1s;
      color: $yellow;
    }
  }
  .remove-friend-button {
    background: $red;
    height: 30px;
    width: 30px;
    float: left;
    color: white;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    left: 29px;
  }
  .remove-friend-button .fa-times {
    position: absolute;
    right: -7px;
    top: 15px;
    font-size: 2.2rem;
  }
  .matching-recipes {
    float: left;
    width: 80%;
    margin: 25px 0 25px 10px;
  }

  .guests {
    overflow: scroll;
    margin-bottom: 9%;
  }
  .guestList a,
  .filter-button {
    border: $yellow 1px solid;
    background: $yellow;
    color: $color-1;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 1.4rem;
    cursor: pointer;
  }

  .guestList a {
    &:hover {
      text-decoration: underline;
    }
  }

  li.guest {
    margin: 5px 0px;
  }
  .guestList form {
    position: relative;
    padding: 0;
  }
  // .guestList label {
  //   position: absolute;
  //   transform: translate(0,16px) scale(1);
  //   top: -10px;
  //   & .active {
  //     transform: translate(0, 4px) scale(.75);
  //     top: -16px
  //   }
  // }
  .add-friend-button {
    border: $yellow 1px solid;
    border-radius: 5px;
    background: $yellow;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 7px;
    position: relative;
    color: $color-1;
    font-size: 1.4rem;
  }
  .add-new-friend-label {
    margin: 0;
    margin-left: 5px;
    font-size: 1.2rem;
    top: 18px;
    left: 0;
    border-bottom: 1px solid $color-1;
  }
  .add-new-friend-input {
    width: 100%;
    margin: 0;
    border: none;
    outline: 0;
    font-size: 1.6rem;
    padding: 20px 0 10px 5px;
    border-radius: 5px;
  }

  .filter-recipes-form {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    // border-bottom: 1px solid $color-1;
    border-radius: 5px;
    border: 1px solid $color-1;
    background: rgba($peach, 0.5);
  }

  .filter-recipes-label {
    font-size: 2.5rem;
    margin: 0;
  }
  .filter-recipes-input {
    width: calc(60% - 30px);
    font-size: 1.8rem;
    border-radius: 5px;
    border: 1px solid $color-1;
    padding: 5px;
    padding-left: 10px;
    margin: 0 0 15px 15px;
    color: $color-1;
    background: white;
  }

  .courses {
    label {
      width: calc(33% - 30px);
      float: left;
      margin: 0;

      .stylish-checkbox,
      input {
        float: left;
      }

      span {
        margin-left: 30px;
      }
    }
  }

  // .courses {
  //   width: 100%;
  //   border: none;
  //   & label {
  //     display: inline-block;
  //     font-size:  1.5rem;
  //     width: calc(100% / 4);
  //   }
  // }
  // input.course-checkbox {
  //   display: inline-block;
  //   font-size: 1.5rem;
  //   visibility: hidden;
  //   width: 0;
  // }
}
