.event-page {

  @media (max-width: 1400px) {
  // .event-page {
    .remove-friend-button {
      background: #f34843;
      height: 25px;
      width: 25px;
      left: 27px;
    }
    .remove-friend-button .fa-times {
      position: absolute;
      right: -7px;
      top: 12px;
      font-size: 2rem;
    }
    .fakeButton{
      & i {
        font-size: 2em;
      }
    }
  // }
  }

  @media (max-width: 1280px) {
    .remove-friend-button {
      height: 20px;
      width: 20px;
      top: 2px;
      left: 22px;
      & .fa-times {
        font-size: 1.6rem;
        top: 10px;
      }
    }
    .fakeButton i {
        font-size: 1.6rem;
      }
    .guest p {
      font-size: 2rem;
    }
    .guestList a {
      padding: 5px;
    }
  // }
  }

  @media (max-width: 1024px) {
  // .event-page {
    .guestList {
      margin: 0;
      padding: 10px;
      padding-bottom: 25px;
      float: none;
      width: 100%;
    }
    .guests {
      margin-bottom: 1%;
    }
    .add-friend-button {
      margin: 5px 0;
    }
    .fakeButton {
      margin: 5px 15px 0 0;
    }
    .remove-friend-button {
      margin: 1px 10px 0px 0;
    }
    .filter-recipes-form {
      margin-left: 0;
    }
  // }
  }

  @media (max-width: 900px) {
    .event-main-page-div.body,
    .user.right {
      display: none;
    }

    .event-header-left {
      width: 80%;
    }

    .app-name,
    .event-title-div {
      width: 100%;
    }

    .big-mac {
      display: block;
      position: absolute;
      top: 134px;
      right: 0;
      left: 0;
      background: $peach;
    }

    .ham-li {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      color: $color-1;
      z-index: 100;
      
      & h2,
      & .event-main-page,
      & a {
        font-size: 2rem;
        color: $color-1;
        padding: 0;
        background: none;
        text-align: center;
        float: none;
        padding: 20px 10px;
        margin: 10px 0;
        display: block;
      }
    }

  }
}