.event-page {
  & .event-title {
    margin: 25px 0;
    & h2 {
      font-size: 5rem;
      float: left;
      width: 50%;
    }
    & a {
      font-size: 2rem;
      float: left;
      width: 50%;
      margin: 20px 0;
      text-align: right;
    }
  }
  .guestList {
    float: left;
    width: calc(20% - 20px);
    margin: 25px 10px;
  }
  .guest p {
    font-size: 2rem;
    float: left;
    width: 80%;
  }
  .fakeButton {
    float: left;
    width: 10%;
    & h2 {
      font-size: 1.1rem;
      border: grey 1px solid;
      border-radius: 5px;
      padding: 1px;
      margin: 4px 2px;
      width: 100%;
    }
  }
  .guest button {
    float: left;
    width: calc(10% - 4px);
    margin: 4px 2px;
    color: red;
    border: none;
    font-size: 1.5rem;
  }

  .matching-recipes {
    float: left;
    width: calc(80% - 20px);
    margin: 25px 10px;
  }

}