@media all and (max-width: 1400px) {
  .event-page {
    .fakeButton.remove-friend-button {
      background: #f34843;
      height: 25px;
      width: 25px;
      left: 30px;
    }
    .remove-friend-button .fa-times {
      position: absolute;
      right: -7px;
      top: 12px;
      font-size: 2rem;
    }
    .fakeButton{
      & i {
        font-size: 2em;
      }
    }
  }
}

@media (max-width: 1280px) {
  .event-page {
    .event-title {
      margin: 10px 0;
      & h2 {
        width: 80%;
      }
      & a {
        width: 20%
      }
    }
    .remove-friend-button {
      height: 20px;
      width: 20px;
      top: 2px;
      left: 22px;
      & .fa-times {
        font-size: 1.6rem;
        top: 10px;
      }
    }
    .fakeButton {
      margin-right: 10px;  
      & i {
        font-size: 1.6rem;
      }
    }
    ul.guests {
      margin-bottom: 2%;
      & p {
      font-size: 2rem;
      }
    }
    .guestList {
      width: calc(40% - 10px);
      & a {
        padding: 5px;
      }
    }
  }
}

@media (max-width:1024) {
  .event-page {
    .remove-friend-button .fa-times {
      left: 9px;
    }
  }
}

@media (max-width: 900px) {
  .event-page {
    .guestList {
      margin: 0;
      padding: 10px;
      padding-bottom: 25px;
      float: none;
      width: 100%;
    }
    .guests {
      margin-bottom: 1%;
    }
    .add-friend-button {
      margin: 5px 0;
    }
    .fakeButton {
      margin: 5px 15px 0 0;
    }
    .remove-friend-button {
      margin: 1px 10px 0px 0;
    }
    .filter-recipes-form {
      margin-left: 0;
    }


  }
}