.event-page {

  @media (max-width: 1400px) {
    .remove-friend-button {
      background: #f34843;
      height: 25px;
      width: 25px;
      left: 29px;
    }

    .remove-friend-button .fa-times {
      position: absolute;
      right: -7px;
      top: 12px;
      font-size: 2rem;
    }

    .fakeButton{
      & i {
        font-size: 2em;
      }
    }
  }

  @media (max-width: 1280px) {
    .remove-friend-button {
      height: 20px;
      width: 20px;
      top: 2px;
      left: 22px;
      & .fa-times {
        font-size: 1.6rem;
        top: 10px;
      }
    }
    .fakeButton {
      margin-right: 10px;  
      & i {
        font-size: 1.6rem;
      }
    }
    ul.guests {
      margin-bottom: 2%;
      & p {
      font-size: 2rem;
      }
    }
    .guestList {
      width: calc(40% - 10px);
      & a {
        padding: 5px;
      }
    }
  }


  @media (max-width:1024) {
      .remove-friend-button .fa-times {
        left: 9px;
      }
  }

  @media (max-width: 900px) {
      
    // JESS

    .guestList {
      margin: 0;
      padding: 10px;
      padding-bottom: 25px;
      float: none;
      width: 100%;
    }
    .guests {
      margin-bottom: 1%;
    }
    .add-friend-button {
      margin: 5px 0;
    }
    .fakeButton {
      margin: 5px 15px 0 0;
    }
    .remove-friend-button {
      margin: 1px 10px 0px 0;
    }
    .filter-recipes-form {
      margin-left: 0;
    }

    // DAN

    .event-main-page-div.body,
    .user.right {
      display: none;
    }

    .event-header-left {
      width: 80%;
    }

    .app-name {
      padding: 0;
    }

    .event-title-div {
      height: 40px;
    }

    .app-name,
    .event-title-div {
      width: 100%;
      text-align: left;

    }

    .big-mac-icon {
      float: left;
      width: 20%;
      position: relative;
      height: 76px;
    }

    .hamburger {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
    }
    
    .fa-bars {
      color: $color-2;
      font-size: 3rem;
      cursor: pointer;
      padding: 20px 0 10px 10px;
    }

    
    .big-mac {
      display: block;
      position: absolute;
      width: 100%;
      right: -100%;
      top: 76px;
      background: $peach;
      transition: all 0.3s;
    }
    
    .hidden-checkbox:checked ~ .big-mac {
      right: 0;
    }


    .ham-li {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      color: $color-1;
      z-index: 100;
      border-bottom: 1px solid lighten($color-1, 30);
      
      & h2,
      & .event-main-page,
      & a {
        font-size: 2rem;
        color: $color-1;
        padding: 0;
        background: none;
        text-align: center;
        float: none;
        padding: 20px 10px;
        // margin: 10px 0;
        display: block;
      }

      & .log-out {
        background: $red;
        color: $color-2;
      }

      & .event-main-page {
        background: $green;
        color: $color-2;
        border-radius: 0;
      }
    }
  }
}