.edit-all-guests-subheader {
  background: rgb(222, 222, 222);
  margin-bottom: 40px;
}

.edit-all-guests-sub-subheader {
  padding: 15px 0;
  position: relative;
}

.edit-all-guests-title {
  display: block;
  width: 60%;
  padding-right: 10px;
  font-size: 2rem;
  float: left;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.edit-all-guests-save-div {
  width: 40%;
  float: right;
  display: block;
}

.edit-all-guests-save {
  padding: 15px 25px;
  background: $green;
  color: $color-2;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  float: right;
}

.edit-all-guests-section-header {
  margin-bottom: 15px;
}

.edit-all-guests-form {
  background: darken($peach, 10);
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 15px;
}

.edit-all-guests-section-header {
  margin-bottom: 15px;
}

.single-friend {
  width: 50%;
  float: left;
  position: relative;
  font-size: 2rem;
  font-family: $secondary-font;
  margin: 10px 0;
}