@media all and (max-width: 1280px) {
  .event-page {
    .matching-recipes {
      width: calc(60% - 10px);
      margin-right: 0;
      .recipes-container {
        width: 100%;

        .recipe-return {
          width: 55%;
          margin: 0;

          .display-single-recipe {
            width: calc(100% - 10px);
            height: 200px;
            float: none;
            margin: 10px 5px;
          }

          .display-single-recipe:first-child {
            margin-top: 0;
          }

          .display-single-recipe:last-child {
            margin-bottom: 0;
          }
        }

        .saved-recipes {
          width: calc(45% - 5px);
          margin-top: 0;
          margin-left: 5px;
          padding-bottom: 0;
          padding-top: 0;

          .save-single-recipe {
            height: 125px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  h2.recipe-name {
    width: 60%;
  }

  h2.saved-recipe-name {
    font-size: 1.6rem;
  }
}

@media all and (max-width: 1000px) {
  h2.recipe-name {
    font-size: 2.2rem;
  }

  .recipe-add-button,
  .recipe-remove-button {
    font-size: 3.5rem;
  }

  .event-page {
    .matching-recipes {
      .filter-recipes-form {
        .courses {
          label {
            width: 50%;
          }
        }
      }
    }
  }
}

@media all and (max-width: 900px) {
  .event-page {
    .matching-recipes {
      width: 100%;
      margin-left: 0;
      margin-right: 0;

      .filter-recipes-form {
        margin-left: 0;

        .filter-recipes-input {
          width: 80%;
        }
        .courses {
          label {
            width: 33%;
          }
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  h2.recipe-name {
    font-size: 1.9rem;
  }

  h2.saved-recipe-name {
    text-align: center;
    left: 50%;
  }

  .recipe-add-button,
  .recipe-remove-button {
    font-size: 3rem;
  }

  .event-page {
    .matching-recipes {
      .recipes-container {
        .recipe-return {
          width: 100%;
          margin: 0;
          height: 60vh;
          margin-bottom: 20px;

          .display-single-recipe {
            width: 100%;
            height: 150px;
            margin: 10px 0;
          }
        }

        .saved-recipes {
          width: 100%;
          height: 40vh;
          float: none;
          margin-left: 0;

          .save-single-recipe {
            height: 100px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 550px) {
  .event-page {
    .matching-recipes {
      .filter-recipes-form {
        .courses {
          label {
            width: 50%;
          }
        }
        .filter-recipes-input {
          width: 60%;
        }
      }
    }
  }
}

@media all and (max-width: 350px) {
  h2.recipe-name {
    font-size: 1.6rem;
  }

  h2.saved-recipe-name {
    font-size: 1.4rem;
  }

  .event-page {
    .matching-recipes {
      .recipes-container {
        .recipe-return {
          height: 50vh;
          .display-single-recipe {
            height: 100px;
          }
        }

        .saved-recipes {
          height: 50vh;

          .save-single-recipe {
            height: 80px;
          }
        }
      }
    }
  }
}
