.recipe-return {
  overflow: scroll;
  float: left;
  width: calc(75% - 10px);
  margin: 0 5px;
  height: 100vh;
}
.display-single-recipe,
.save-single-recipe {
  border: black 1px solid;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  margin: 5px 5px;
  position: relative;
}
.display-single-recipe {
  float: left;
  width: calc(50% - 10px);
  height: 300px;
  position: relative;
}
.save-single-recipe {
  height: 140px;
  margin: 15px;
}
.saved-recipes {
  float: left;
  width: 25%;
  background: #505050;
  padding: 5px;
  border: 1px solid #505050;
  border-radius: 5px;
  height: 100vh;
  overflow: scroll;
  margin-top: 5px;
  & h1,
  h3 {
    font-size: 2.5rem;
    font-family: $secondary-font;
    text-align: center;
    color: white;
  }

  & h3 {
    font-size: 2rem;
  }
}

.recipe-name {
  font-size: 1.8rem;
  text-align: center;
  font-family: $secondary-font;
  color: $peach;
}
.recipe-img-container {
  width: auto;
  margin: 0 auto;
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.75;
}
.recipe-img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recipe-add-button,
.recipe-remove-button {
  background: none;
  border: none;
  color: $yellow;
  font-size: 4rem;
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 100;
  text-shadow: -1.25px 0 black, 0 1.25px black, 1.25px 0 black, 0 -1.25px black;
  transition: 0.1s;

  &:hover {
    transition: 0.1s;
    transform: scale(0.9);
  }
}

h2.recipe-name,
h2.saved-recipe-name {
  font-family: "Muli", sans-serif;
  z-index: 100;
  position: absolute;
  top: 25%;
  text-align: center;
  color: white;
  left: 50%;
  transform: translate(-50%, -25%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h2.recipe-name {
  font-size: 2.5rem;
}
h2.saved-recipe-name {
  font-size: 1.7rem;
  left: 43%;
  width: 70%;
  text-align: left;
}
