@media (max-width: 727px) {
  .inner-header {
    & .app-name {
      float: none;
      text-align: center;
      font-size: 4rem;
      padding-bottom: 0;
    }
    & .user {
      float: none;
      padding-top: 0;
      padding-bottom: 40px;
      & a {
        text-align: center;
        // top: 60px;
        // right: 45%;
        right: 50%;
        transform: translateX(50%);
        // top: 50px;
        // right: 45%;
        position: absolute;
        width: 100px;
      }
    }
    .user h2 {
      font-size: 2.5rem;
      float: none;
      padding: 0;
      text-align: center;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 615px) {
  ///OVERVIEW PAGE///
  .section-header {
    font-size: 2.8rem;
  }
  .new-event-button {
    padding: 10px;
    float: none;
    left: 0;
  }
  .new-event-name-input {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .new-event-label {
    text-align: center;
  }
  .create-new-event {
    margin: 0 auto;
    width: 100%;
  }
  li.event {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .log-in-form .buttons {
    width: 100%;
  }
}

@media (max-width: 385px) {
  // HEADER STYLES ///
  .user {
    float: none;
    width: 100%;
    height: 85px;
    & h2 {
      text-align: center;
      font-size: 2.5rem;
      float: none;
      padding: 0;
    }
    & a {
      // top: 22%;
      // left: 35%;
      float: none;
      position: relative;
    }
  }

  .new-event-label {
    font-size: 2rem;
    top: 25px;
  }

  header .app-name {
    float: none;
    text-align: center;
    font-size: 5rem;
    padding: 15px 0 0 0;
  }
}
