@media (max-width: 727px) {
  .app-name {
    font-size: 11rem;
  }
  .app-name-sub-header {
    font-size: 2.3rem;
  }
}

@media (max-width: 615px) {
  .app-name {
    font-size: 10rem;
  }
  .app-name-sub-header {
    font-size: 2rem;
  }
}

@media (max-width: 555px) {
  .app-name {
    font-size: 8rem;
  }
}

@media (max-width: 450px){
  .app-name {
    font-size: 7rem;
  }
  .log-in-form .buttons {
    width: 100%;
  }
}
@media (max-width: 385px){
  .app-name {
    font-size: 6rem;
  }
  .log-in-form {
    width: 100%;
  }
  .user a {
    top: 45%;
  }
  header .app-name {
    
  }
}
