// Overview Page

.events {
  .section-header {
    font-size: 30px;
  }
}

.page-title {
  text-align: center;
  margin: 50px 0 25px 0;
}

.go-to-event,
.create-new-event {
  padding: 10px;
  border-radius: 5px;
}

.create-new-event {
  background: $yellow;
  padding: 20px;
  border-radius: 5px;
  color: $color-1;
}

.new-event-label {
  width: 100%;
  float: left;
  font-family: $primary-font;
  font-weight: bold;
  text-align: center;
  font-size: 2.6rem;
  margin: 0;
}

.new-event-name-input,
.new-event-button {
  border: none;
  float: left;
}

.new-event-name-input {
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 10%;
  text-align: center;
}

.new-event-button {
  position: relative;
  left: 37%;
  border-radius: 5px;
  background: $green;
  color: $color-2;
  padding: 10px 20px;
  margin: 0 10px;
  transition: 0.2s;

  &:hover {
    transition: 0.2s;
    background: $color-2;
    color: rgb(17, 120, 66);
  }
}

.go-to-event {
  width: 100%;
  float: left;
  background: rgb(80, 80, 80);
  color: $color-2;
  font-family: $secondary-font;
  transition: 0.2s;

  &:hover {
    transition: 0.2s;
    background: $peach;
    color: $color-1;
  }
}

.create-new-event,
.event {
  max-width: 500px;
  width: 80%;
  display: block;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto 15px auto;
  position: relative;
}

.delete-button {
  background: $red;
  height: 35px;
  width: 35px;
  float: left;
  color: white;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  position: absolute;
  right: -15px;
  top: -13px;
}

.fa-times {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  font-size: 2rem;
}
