/* FONT-FAMILY */
$primary-font: "Roboto", sans-serif;
$secondary-font: "Muli", sans-serif;

/* COLORS */
$color-1: rgb(20, 20, 20);
$color-2: rgb(242, 242, 242);

$yellow: rgb(255, 203, 0);
$peach: rgb(255, 228, 201);
$red: rgb(243, 72, 67);
