.recipe-return {
  overflow: scroll;
  float: left;
  width: calc(75% - 10px);
  margin: 0 5px;
}
.display-single-recipe, .save-single-recipe {
  border: black 1px solid;
  border-radius: 5px;
  background: rgba(0,0,0,0.6);
  padding: 10px;
  margin: 5px 5px;
}
.display-single-recipe {
  float: left;
  width: calc(50% - 10px);
  
}
.saved-recipes {
  float: left;
  width: 25%;
  & h1 {
    font-size: 2.5rem;
    font-family: $secondary-font;
    text-align: center;
  }
}

.recipe-each-link {

}

.recipe-name {
  font-size: 1.8rem;
  text-align: center;
  font-family: $secondary-font;
  color: $peach;
}
.recipe-img-container {
  width: 95%;
  margin: 0 auto;

}
