/* =============================
RESET + CLEARFIX + BORDER BOX + VISUALLY HIDDEN
============================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/* FONT-FAMILY */
/* COLORS */
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; }

body {
  color: #141414; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.7rem; }

h6 {
  font-size: 1.6rem; }

p {
  font-size: 1.6rem;
  font-family: "Muli", sans-serif; }

label, input, .event-title h2, a, button, .new-event-label, .section-header, .user h2, .filter-by-course {
  font-family: "Muli", sans-serif; }

.log-in-page {
  background: #3e3e3e;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/heroBGweb.jpg) 50% 50%;
  background-size: cover; }

.log-in-form {
  width: 80%;
  max-width: 500px;
  margin: 50px auto 0 auto; }

.log-in-page-button {
  width: 100%;
  padding: 10px 0;
  background: #ffcb00;
  color: #141414;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  margin: 15px 0;
  padding: 15px 25px;
  transition: 0.2s; }

.log-in-page-button.guest:hover {
  font-weight: 700;
  transition: 0.2s;
  background: #ffe4c9; }

.demo:hover {
  font-weight: 700;
  transition: 0.2s;
  background: lightblue; }

.sign-in-create {
  background: #f34843;
  color: #f2f2f2;
  font-size: 2.5rem;
  padding: 25px;
  transition: 0.2s; }
  .sign-in-create:hover {
    transition: 0.2s;
    color: #f34843;
    background: #f2f2f2; }

.fa-google {
  margin-left: 5%; }

.app-name {
  font-family: "Fredericka the Great", cursive;
  font-size: 13rem;
  font-weight: normal;
  color: #ffcb00;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 20px; }

.app-name-sub-header {
  color: #f2f2f2;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 5px; }

.log-in-page .loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.6); }

.log-in-page .lds-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.matching-recipes .loader {
  position: relative; }

.matching-recipes .lds-spin {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%); }

header {
  background: #505050; }
  header .app-name {
    font-size: 3rem;
    padding: 15px 0;
    text-align: left;
    width: auto;
    float: left; }

.user {
  color: #ffcb00;
  float: right;
  padding: 15px 0;
  position: relative;
  display: block; }
  .user h2 {
    float: left;
    padding-right: 70px; }
  .user a {
    font-size: 1rem;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 60px;
    text-align: center; }

.log-out {
  background: #f34843;
  color: #f2f2f2; }
  .log-out :hover {
    background: #f2f2f2;
    color: #f34843; }

.events .section-header {
  font-size: 30px; }

.page-title {
  text-align: center;
  margin: 50px 0 25px 0; }

.go-to-event,
.create-new-event {
  padding: 10px;
  border-radius: 5px; }

.create-new-event {
  background: #ffcb00;
  padding: 20px;
  border-radius: 5px;
  color: #141414; }

.label-input-container {
  position: relative; }

.new-event-label {
  width: 100%;
  float: left;
  font-family: "Muli", sans-serif;
  text-align: center;
  font-size: 2.6rem;
  margin: 0;
  position: absolute;
  top: 22px;
  left: 0;
  transition: 0.3s;
  cursor: text; }

.new-event-name-input,
.new-event-button {
  border: none;
  float: left; }

.new-event-name-input {
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 10%;
  text-align: center;
  cursor: text; }
  .new-event-name-input:focus ~ .new-event-label {
    transition: 0.3s;
    top: -12px;
    font-size: 1.8rem; }

.new-event-button {
  position: relative;
  left: 37%;
  border-radius: 5px;
  background: #117842;
  color: #f2f2f2;
  padding: 10px 20px;
  margin: 0 10px;
  transition: 0.2s; }
  .new-event-button:hover {
    transition: 0.2s;
    background: #f2f2f2;
    color: #117842; }

.go-to-event {
  width: 100%;
  float: left;
  background: #505050;
  color: #f2f2f2;
  font-family: "Muli", sans-serif;
  transition: 0.2s; }
  .go-to-event:hover {
    transition: 0.2s;
    background: #ffe4c9;
    color: #141414; }

.create-new-event,
.event {
  max-width: 500px;
  width: 80%;
  display: block;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto 15px auto;
  position: relative; }

.delete-button {
  background: #f34843;
  height: 35px;
  width: 35px;
  float: left;
  color: white;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  position: absolute;
  right: -15px;
  top: -13px;
  transition: 0.2s; }
  .delete-button:hover {
    transition: 0.2s;
    background: #ffe4c9;
    color: #f34843; }

.fa-times {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  font-size: 2rem; }

.event-page .wrapper.body {
  padding-top: 68px; }

.event-page .app-name {
  float: left;
  width: 50%; }

.event-page .big-mac {
  display: none; }

.event-page header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 200; }

.event-page .event-header-left {
  width: calc(100% / 3 * 2);
  float: left; }

.event-page .user {
  width: calc(100% / 3);
  float: left; }
  .event-page .user h2 {
    float: right; }

.event-page .event-title-div {
  width: 50%;
  text-align: center;
  display: block;
  float: left;
  position: relative;
  height: 68px; }

.event-page .event-title {
  color: #f2f2f2;
  font-size: 2rem;
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.event-page .event-main-page-div {
  padding-top: 80px; }

.event-page .event-main-page {
  padding: 15px 25px;
  background: #117842;
  color: #f2f2f2;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  float: right; }

.event-page .guestList {
  float: left;
  width: calc(20% - 20px);
  margin: 25px 10px 25px 0;
  background: #505050;
  padding: 15px;
  padding-bottom: 30px;
  border: 1px solid #505050;
  border-radius: 5px; }

.event-page .guest p {
  font-size: 2.2em;
  float: left;
  width: 70%;
  color: white; }

.event-page .fakeButton {
  float: left;
  width: 0;
  margin-top: 5px;
  color: white;
  cursor: pointer;
  transition: 0.1s; }
  .event-page .fakeButton i {
    font-size: 2.2rem; }
  .event-page .fakeButton:hover {
    transition: 0.1s;
    color: #ffcb00; }

.event-page .remove-friend-button {
  background: #f34843;
  height: 30px;
  width: 30px;
  float: left;
  color: white;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  left: 29px; }

.event-page .remove-friend-button .fa-times {
  position: absolute;
  right: -7px;
  top: 15px;
  font-size: 2.2rem; }

.event-page .matching-recipes {
  float: left;
  width: 80%;
  margin: 25px 0 25px 10px; }

.event-page .guests {
  overflow: scroll;
  margin-bottom: 9%; }

.event-page .guestList a,
.event-page .filter-button {
  border: #ffcb00 1px solid;
  background: #ffcb00;
  color: #141414;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 1.4rem;
  cursor: pointer; }

.event-page .guestList a:hover {
  text-decoration: underline; }

.event-page li.guest {
  margin: 5px 0px; }

.event-page .guestList form {
  position: relative;
  padding: 0; }

.event-page .add-friend-button {
  border: #ffcb00 1px solid;
  border-radius: 5px;
  background: #ffcb00;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 7px;
  position: relative;
  color: #141414;
  font-size: 1.4rem; }

.event-page .add-new-friend-label {
  margin: 0;
  margin-left: 5px;
  font-size: 1.2rem;
  top: 18px;
  left: 0;
  border-bottom: 1px solid #141414; }

.event-page .add-new-friend-input {
  width: 100%;
  margin: 0;
  border: none;
  outline: 0;
  font-size: 1.6rem;
  padding: 20px 0 10px 5px;
  border-radius: 5px; }

.event-page .filter-recipes-form {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #141414;
  background: rgba(255, 228, 201, 0.5); }

.event-page .filter-recipes-label {
  font-size: 2.5rem;
  margin: 0; }

.event-page .filter-recipes-input {
  width: calc(60% - 30px);
  font-size: 1.8rem;
  border-radius: 5px;
  border: 1px solid #141414;
  padding: 5px;
  padding-left: 10px;
  margin: 0 0 15px 15px;
  color: #141414;
  background: white; }

.event-page .courses label {
  width: calc(33% - 30px);
  float: left;
  margin: 0; }
  .event-page .courses label .stylish-checkbox,
  .event-page .courses label input {
    float: left; }
  .event-page .courses label span {
    margin-left: 30px; }

.event-page .fa-bars {
  display: none; }

.recipe-return {
  overflow: scroll;
  float: left;
  width: calc(75% - 10px);
  margin: 0 5px;
  height: 100vh; }

.display-single-recipe,
.save-single-recipe {
  border: black 1px solid;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  margin: 5px 5px;
  position: relative; }

.display-single-recipe {
  float: left;
  width: calc(50% - 10px);
  height: 300px;
  position: relative; }

.save-single-recipe {
  height: 140px;
  margin: 15px; }

.saved-recipes {
  float: left;
  width: 25%;
  background: #505050;
  padding: 5px;
  border: 1px solid #505050;
  border-radius: 5px;
  height: 100vh;
  overflow: scroll;
  margin-top: 5px; }
  .saved-recipes h1,
  .saved-recipes h3 {
    font-size: 2.5rem;
    font-family: "Muli", sans-serif;
    text-align: center;
    color: white; }
  .saved-recipes h3 {
    font-size: 2rem; }

.recipe-name {
  font-size: 1.8rem;
  text-align: center;
  font-family: "Muli", sans-serif;
  color: #ffe4c9; }

.recipe-img-container {
  width: auto;
  margin: 0 auto;
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.75; }

.recipe-img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.recipe-add-button,
.recipe-remove-button {
  background: none;
  border: none;
  color: #ffcb00;
  font-size: 4rem;
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 100;
  text-shadow: -1.25px 0 black, 0 1.25px black, 1.25px 0 black, 0 -1.25px black; }

h2.recipe-name,
h2.saved-recipe-name {
  font-family: "Muli", sans-serif;
  z-index: 100;
  position: absolute;
  top: 25%;
  text-align: center;
  color: white;
  left: 50%;
  transform: translate(-50%, -25%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

h2.recipe-name {
  font-size: 2.5rem; }

h2.saved-recipe-name {
  font-size: 1.7rem;
  left: 43%;
  width: 70%;
  text-align: left; }

.edit-guest-subheader {
  background: #dedede;
  margin-bottom: 40px; }

.edit-guest-sub-subheader {
  padding: 15px 0;
  position: relative; }

.edit-guest-title {
  display: block;
  width: 60%;
  padding-right: 10px;
  font-size: 2rem;
  float: left;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }

.edit-guest-save-div {
  width: 40%;
  float: right;
  display: block; }

.edit-guest-save {
  padding: 15px 25px;
  background: #117842;
  color: #f2f2f2;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  float: right; }

.edit-guest-section-header {
  margin-bottom: 15px; }

.edit-guest-form {
  background: #ffcb96;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 15px; }

.allergy-diet {
  width: 50%;
  float: left;
  position: relative;
  font-size: 2rem;
  font-family: "Muli", sans-serif;
  margin: 10px 0; }

.delete-ingredient {
  float: left;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #f34843;
  color: #f2f2f2;
  position: relative;
  margin-right: 8px;
  margin-left: 5px; }

.ingredient {
  float: left; }

.delete-ingredient .fa-times {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.restricted-ingredient-label-input-container {
  position: relative;
  float: left;
  width: 30%;
  min-width: 280px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px; }

.add-restricted-ingredient-label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  margin: 0;
  cursor: text;
  font-size: 1.8rem; }

.add-restricted-ingredient-input {
  font-size: 2rem;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none; }

.add-restricted-ingredient-button {
  font-size: 2rem;
  border-radius: 10px;
  border: none;
  margin: 20px 0 20px 10px;
  padding: 10px 20px;
  background: #117842;
  color: #f2f2f2; }

.add-restricted-ingredient-input:focus + .add-restricted-ingredient-label,
.add-restricted-ingredient-input:not([value=""]) + .add-restricted-ingredient-label {
  transition: 0.3s;
  top: -15px;
  left: 10px;
  font-size: 1.5rem; }

.edit-all-guests-subheader {
  background: #dedede;
  margin-bottom: 40px; }

.edit-all-guests-sub-subheader {
  padding: 15px 0;
  position: relative; }

.edit-all-guests-title {
  display: block;
  width: 60%;
  padding-right: 10px;
  font-size: 2rem;
  float: left;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }

.edit-all-guests-save-div {
  width: 40%;
  float: right;
  display: block; }

.edit-all-guests-save {
  padding: 15px 25px;
  background: #117842;
  color: #f2f2f2;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  float: right; }

.edit-all-guests-section-header {
  margin-bottom: 15px; }

.edit-all-guests-form {
  background: #ffcb96;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 15px; }

.edit-all-guests-section-header {
  margin-bottom: 15px; }

.single-friend {
  width: 50%;
  float: left;
  position: relative;
  font-size: 2rem;
  font-family: "Muli", sans-serif;
  margin: 10px 0; }

* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto; }

ul {
  list-style: none; }

body {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(./assets/heroBGweb.jpg) 50% 50% fixed;
  background-size: cover;
  background-position: center; }

a {
  text-decoration: none; }

.section-header {
  text-align: center;
  padding: 20px 0; }

input[type="checkbox"] {
  display: none; }

label {
  position: relative;
  margin-left: 38px;
  font-size: 2rem; }

input[type="checkbox"] + label .stylish-checkbox,
input[type="checkbox"]:checked + label .stylish-checkbox,
input[type="checkbox"] + .stylish-checkbox,
input[type="checkbox"]:checked + .stylish-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 3px;
  left: calc(-18px - 10px);
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #141414;
  cursor: pointer; }

input[type="checkbox"] + .stylish-checkbox,
input[type="checkbox"]:checked + .stylish-checkbox {
  left: 5px; }

input[type="checkbox"] + label .stylish-checkbox,
input[type="checkbox"]:checked + .stylish-checkbox {
  background: white; }

input[type="checkbox"] + label .stylish-checkbox .fa-check,
input[type="checkbox"] + .stylish-checkbox .fa-check {
  display: none; }

input[type="checkbox"]:checked + label .stylish-checkbox,
input[type="checkbox"]:checked + .stylish-checkbox {
  background: #2bda25; }

input[type="checkbox"]:checked + label .stylish-checkbox .fa-check,
input[type="checkbox"]:checked + .stylish-checkbox .fa-check {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem; }

@media (max-width: 800px) {
  .app-name {
    font-size: 11rem; }
  .app-name-sub-header {
    font-size: 2rem; } }

@media (max-width: 650px) {
  .app-name {
    font-size: 9rem; } }

@media (max-width: 550px) {
  .app-name {
    font-size: 7rem; }
  .app-name-sub-header {
    font-size: 1.8rem; }
  .log-in-form {
    margin: 25px auto 0 auto; } }

@media (max-width: 450px) {
  .app-name {
    font-size: 6rem; }
  .app-name-sub-header {
    font-size: 1.5rem; }
  .log-in-form {
    width: 100%; } }

@media (max-width: 375px) {
  .app-name {
    font-size: 5rem; } }

@media (max-width: 600px) {
  .allergy-diet {
    width: 100%; } }

@media (max-width: 450px) {
  .restricted-ingredient-label-input-container {
    min-width: 170px; }
  .add-restricted-ingredient-label {
    font-size: 1.2rem;
    left: 50%;
    transform: translate(-50%, -50%); }
  .add-restricted-ingredient-input:focus + .add-restricted-ingredient-label,
  .add-restricted-ingredient-input:not([value=""]) + .add-restricted-ingredient-label {
    min-width: 200px;
    transform: translate(-5%, -50%); }
  .add-restricted-ingredient-button {
    margin: 20px 0 20px 5px; } }

@media (max-width: 727px) {
  .inner-header .app-name {
    float: none;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 0; }
  .inner-header .user {
    float: none;
    padding-top: 0;
    padding-bottom: 40px; }
    .inner-header .user a {
      text-align: center;
      right: 50%;
      transform: translateX(50%);
      position: absolute;
      width: 100px; }
  .inner-header .user h2 {
    font-size: 2.5rem;
    float: none;
    padding: 0;
    text-align: center;
    margin-bottom: 0; } }

@media (max-width: 615px) {
  .section-header {
    font-size: 2.8rem; }
  .new-event-button {
    padding: 10px;
    float: none;
    left: 0; }
  .new-event-name-input {
    margin-bottom: 10px;
    border-radius: 5px; }
  .new-event-label {
    text-align: center; }
  .create-new-event {
    margin: 0 auto;
    width: 100%; }
  li.event {
    width: 100%; } }

@media (max-width: 450px) {
  .log-in-form .buttons {
    width: 100%; } }

@media (max-width: 385px) {
  .user {
    float: none;
    width: 100%;
    height: 85px; }
    .user h2 {
      text-align: center;
      font-size: 2.5rem;
      float: none;
      padding: 0; }
    .user a {
      float: none;
      position: relative; }
  .new-event-label {
    font-size: 2rem;
    top: 25px; } }

@media (max-width: 650px) {
  .single-friend {
    width: 100%; } }

@media all and (max-width: 1280px) {
  .event-page .matching-recipes {
    width: calc(60% - 10px);
    margin-right: 0; }
    .event-page .matching-recipes .recipes-container {
      width: 100%; }
      .event-page .matching-recipes .recipes-container .recipe-return {
        width: 55%;
        margin: 0; }
        .event-page .matching-recipes .recipes-container .recipe-return .display-single-recipe {
          width: calc(100% - 10px);
          height: 200px;
          float: none;
          margin: 10px 5px; }
        .event-page .matching-recipes .recipes-container .recipe-return .display-single-recipe:first-child {
          margin-top: 0; }
        .event-page .matching-recipes .recipes-container .recipe-return .display-single-recipe:last-child {
          margin-bottom: 0; }
      .event-page .matching-recipes .recipes-container .saved-recipes {
        width: calc(45% - 5px);
        margin-top: 0;
        margin-left: 5px;
        padding-bottom: 0;
        padding-top: 0; }
        .event-page .matching-recipes .recipes-container .saved-recipes .save-single-recipe {
          height: 125px; } }

@media all and (max-width: 1200px) {
  h2.recipe-name {
    width: 60%; }
  h2.saved-recipe-name {
    font-size: 1.6rem; } }

@media all and (max-width: 1000px) {
  h2.recipe-name {
    font-size: 2.2rem; }
  .recipe-add-button,
  .recipe-remove-button {
    font-size: 3.5rem; }
  .event-page .matching-recipes .filter-recipes-form .courses label {
    width: 50%; } }

@media all and (max-width: 900px) {
  .event-page .matching-recipes {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
    .event-page .matching-recipes .filter-recipes-form {
      margin-left: 0; }
      .event-page .matching-recipes .filter-recipes-form .filter-recipes-input {
        width: 80%; }
      .event-page .matching-recipes .filter-recipes-form .courses label {
        width: 33%; } }

@media all and (max-width: 600px) {
  h2.recipe-name {
    font-size: 1.9rem; }
  h2.saved-recipe-name {
    left: 50%;
    text-align: center; }
  h2.saved-recipe-name {
    text-align: center;
    left: 50%; }
  .recipe-add-button,
  .recipe-remove-button {
    font-size: 3rem; }
  .event-page .matching-recipes .recipes-container .recipe-return {
    width: 100%;
    margin: 0;
    height: 60vh;
    margin-bottom: 20px; }
    .event-page .matching-recipes .recipes-container .recipe-return .display-single-recipe {
      width: 100%;
      height: 150px;
      margin: 10px 0; }
  .event-page .matching-recipes .recipes-container .saved-recipes {
    width: 100%;
    height: 40vh;
    float: none;
    margin-left: 0; }
    .event-page .matching-recipes .recipes-container .saved-recipes .save-single-recipe {
      height: 100px; } }

@media all and (max-width: 550px) {
  .event-page .matching-recipes .filter-recipes-form .courses label {
    width: 50%; }
  .event-page .matching-recipes .filter-recipes-form .filter-recipes-input {
    width: 60%; } }

@media all and (max-width: 350px) {
  h2.recipe-name {
    font-size: 1.6rem; }
  h2.saved-recipe-name {
    font-size: 1.4rem; }
  .event-page .matching-recipes .recipes-container .recipe-return {
    height: 50vh; }
    .event-page .matching-recipes .recipes-container .recipe-return .display-single-recipe {
      height: 100px; }
  .event-page .matching-recipes .recipes-container .saved-recipes {
    height: 50vh; }
    .event-page .matching-recipes .recipes-container .saved-recipes .save-single-recipe {
      height: 80px; } }

@media (max-width: 1400px) {
  .event-page .remove-friend-button {
    background: #f34843;
    height: 25px;
    width: 25px;
    left: 29px; }
  .event-page .remove-friend-button .fa-times {
    position: absolute;
    right: -7px;
    top: 12px;
    font-size: 2rem; }
  .event-page .fakeButton i {
    font-size: 2em; } }

@media (max-width: 1280px) {
  .event-page .remove-friend-button {
    height: 20px;
    width: 20px;
    top: 2px;
    left: 22px; }
    .event-page .remove-friend-button .fa-times {
      font-size: 1.6rem;
      top: 10px; }
  .event-page .fakeButton {
    margin-right: 10px; }
    .event-page .fakeButton i {
      font-size: 1.6rem; }
  .event-page ul.guests {
    margin-bottom: 2%; }
    .event-page ul.guests p {
      font-size: 2rem; }
  .event-page .guestList {
    width: calc(40% - 10px); }
    .event-page .guestList a {
      padding: 5px; } }

@media (max-width: 1024) {
  .event-page .remove-friend-button .fa-times {
    left: 9px; } }

@media (max-width: 900px) {
  .event-page .guestList {
    margin: 0;
    padding: 10px;
    padding-bottom: 25px;
    float: none;
    width: 100%; }
  .event-page .guests {
    margin-bottom: 1%; }
  .event-page .add-friend-button {
    margin: 5px 0; }
  .event-page .fakeButton {
    margin: 5px 15px 0 0; }
  .event-page .remove-friend-button {
    margin: 1px 10px 0px 0; }
  .event-page .filter-recipes-form {
    margin-left: 0; }
  .event-page .event-main-page-div.body,
  .event-page .user.right {
    display: none; }
  .event-page .event-header-left {
    width: 80%; }
  .event-page .app-name {
    padding: 0; }
  .event-page .event-title-div {
    height: 40px; }
  .event-page .app-name,
  .event-page .event-title-div {
    width: 100%;
    text-align: left; }
  .event-page .big-mac-icon {
    float: left;
    width: 20%;
    position: relative;
    height: 76px; }
  .event-page .hamburger {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block; }
  .event-page .fa-bars {
    color: #f2f2f2;
    font-size: 3rem;
    cursor: pointer;
    padding: 20px 0 10px 10px;
    display: block; }
  .event-page .big-mac {
    display: block;
    position: absolute;
    width: 100%;
    right: -100%;
    top: 76px;
    background: #ffe4c9;
    transition: all 0.3s; }
  .event-page .hidden-checkbox:checked ~ .big-mac {
    right: 0; }
  .event-page .ham-li {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #141414;
    z-index: 100;
    border-bottom: 1px solid #616161; }
    .event-page .ham-li h2,
    .event-page .ham-li .event-main-page,
    .event-page .ham-li a {
      font-size: 2rem;
      color: #141414;
      padding: 0;
      background: none;
      text-align: center;
      float: none;
      padding: 20px 10px;
      display: block; }
    .event-page .ham-li .log-out {
      background: #f34843;
      color: #f2f2f2; }
    .event-page .ham-li .event-main-page {
      background: #117842;
      color: #f2f2f2;
      border-radius: 0; } }
