@import "./partials/_setup.scss";
@import "./partials/_utils.scss";
@import "./partials/_typography.scss";

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(./assets/heroBGweb.jpg) 50% 50% fixed;
  background-size: 100% auto;
}

a {
  text-decoration: none;
}
// Log In Page

.log-in-page {
  background: rgb(62, 62, 62);
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/heroBGweb.jpg) 50% 50%;
  background-size: cover;
}

.log-in-form {
  width: 80%;
  background: $peach;
  max-width: 500px;
  left: 50%;
  top: 55%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 10px;

  & .username {
    text-align: center;
    float: left;
    width: 100%;
    font-family: $primary-font;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    color: $color-1;
    padding-bottom: 20px;
  }

  & .log-in-text-input {
    width: 50%;
    min-width: 125px;
    font-size: 2.5rem;
    margin: 0 auto;
    display: block;
    border: 1px solid $color-1;
  }

  & button {
    width: 40%;
    padding: 10px 0;
    background: $red;
    color: $color-2;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;

  }

  & .buttons {
    width: 50%;
    margin: 0 auto;
    padding-top: 23px;

    & .left {
      float: left;
    }

    & .right {
      float: right;
    }
  }

}

.app-name {
  font-family: 'Fredericka the Great', cursive;
  font-size: 13rem;
  font-weight: normal;
  color: $yellow;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 20px;
}

.app-name-sub-header {
  color: $yellow;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 5px;
}

// Header

header {
  background: rgb(80, 80, 80);

  & .app-name {
    font-size: 3rem;
    padding: 15px 0;
    text-align: left;
    width: auto;
    float: left;
  }
}

.user {
  color: $yellow;
  float: right;
  padding: 15px 0;
  position: relative;
  display: block;

  & h2 {
    float: left;
    padding-right: 70px;
  }

  & a {
    font-size: 1rem;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 60px;
    text-align: center;
  }
}

.log-out {
  background: $red;
  color: $color-2;
}

// Overview Page

.page-title {
  text-align: center;
  margin: 50px 0 25px 0;
}

.create-new-event,
.event {
  width: 90%;
  max-width: 500px;
  display: block;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 2rem;
  padding: 10px;
  margin: 0 auto 10px auto;
}

.create-new-event {
  background: $red;
}

.event {
  background: rgb(80, 80, 80);
}


@import "./partials/_media-queries.scss";
