@import "./partials/_setup.scss";
@import "./partials/_utils.scss";
@import "./partials/_typography.scss";
@import "./partials/_loginPage.scss";
@import "./partials/_header.scss";
@import "./partials/_overviewPage.scss";
@import "./partials/_eventPage.scss";
@import "./partials/matchingRecipes.scss";

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(./assets/heroBGweb.jpg) 50% 50% fixed;
  background-size: 100% auto;
}

a {
  text-decoration: none;
}

.section-header {
  text-align: center;
  padding: 20px 0;
}




@import "./partials/_loginPageMQs";
@import "./partials/_media-queries.scss";
