@import "./partials/_setup.scss";
@import "./partials/_utils.scss";
@import "./partials/_typography.scss";
@import "./partials/_loginPage.scss";
@import "./partials/_loader.scss";
@import "./partials/_header.scss";
@import "./partials/_overviewPage.scss";
@import "./partials/_eventPage.scss";
@import "./partials/_matchingRecipes.scss";
@import "./partials/_edit-friend";
@import "./partials/_existingFriendList.scss";

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url(./assets/heroBGweb.jpg) 50% 50% fixed;
  background-size: 100% auto;
}

a {
  text-decoration: none;
}

.section-header {
  text-align: center;
  padding: 20px 0;
}

input[type="checkbox"] {
  display: none;
}

label {
  position: relative;
  margin-left: 38px;
  font-size: 2rem;
}

input[type="checkbox"] + label .stylish-checkbox,
input[type="checkbox"]:checked + label .stylish-checkbox,
input[type="checkbox"] + .stylish-checkbox,
input[type="checkbox"]:checked + .stylish-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 3px;
  left: calc(-18px - 10px);
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid $color-1;
  cursor: pointer;
}

input[type="checkbox"] + .stylish-checkbox,
input[type="checkbox"]:checked + .stylish-checkbox {
  left: 5px;
}

input[type="checkbox"] + label .stylish-checkbox,
input[type="checkbox"]:checked + .stylish-checkbox {
  background: white;
}

input[type="checkbox"] + label .stylish-checkbox .fa-check,
input[type="checkbox"] + .stylish-checkbox .fa-check {
  display: none;
}

input[type="checkbox"]:checked + label .stylish-checkbox,
input[type="checkbox"]:checked + .stylish-checkbox {
  background: rgb(43, 218, 37);
}

input[type="checkbox"]:checked + label .stylish-checkbox .fa-check,
input[type="checkbox"]:checked + .stylish-checkbox .fa-check {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

@import "./partials/_loginPageMQs";
@import "./partials/_edit-friendMQs";
@import "./partials/_media-queries.scss";
@import "./partials/_existingFriendListMQs.scss";
@import "./partials/_matchingRecipesMQs.scss";
@import "./partials/_eventPageMQs.scss";

