@import "./partials/_setup.scss";
@import "./partials/_utils.scss";
@import "./partials/_typography.scss";

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

// 

@import "./partials/_media-queries.scss";
