/* =============================
RESET + CLEARFIX + BORDER BOX + VISUALLY HIDDEN
============================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/* FONT-FAMILY */
/* COLORS */
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; }

body {
  color: #141414; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.7rem; }

h6 {
  font-size: 1.6rem; }

p {
  font-size: 1.6rem;
  font-family: "Muli", sans-serif; }

label, input, .event-title h2, a, button, .new-event-label, .section-header, .user h2, .filter-by-course {
  font-family: "Muli", sans-serif; }

.log-in-page {
  background: #3e3e3e;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/heroBGweb.jpg) 50% 50%;
  background-size: cover; }

.log-in-form {
  width: 80%;
  max-width: 500px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 10px;
  margin-top: 10px; }
  .log-in-form .username {
    text-align: center;
    float: left;
    width: 100%;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    color: #141414;
    padding-bottom: 20px; }
  .log-in-form .log-in-text-input {
    width: 50%;
    min-width: 125px;
    font-size: 2.5rem;
    margin: 0 auto;
    display: block;
    border: 1px solid #141414; }
  .log-in-form button {
    width: 40%;
    padding: 10px 0;
    background: #f34843;
    color: #f2f2f2;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    margin: 8px 0; }
  .log-in-form .buttons {
    width: 75%;
    margin: 0 auto; }
    .log-in-form .buttons :hover {
      background: #f2f2f2;
      color: #f34843; }
    .log-in-form .buttons .left {
      float: left; }
    .log-in-form .buttons .right {
      float: right; }
    .log-in-form .buttons .guest {
      float: left;
      font-size: 1.5rem; }
    .log-in-form .buttons .demo {
      float: right; }

.app-name {
  font-family: 'Fredericka the Great', cursive;
  font-size: 13rem;
  font-weight: normal;
  color: #ffcb00;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 20px; }

.app-name-sub-header {
  color: #ffcb00;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 5px; }

header {
  background: #505050; }
  header .app-name {
    font-size: 3rem;
    padding: 15px 0;
    text-align: left;
    width: auto;
    float: left; }

.user {
  color: #ffcb00;
  float: right;
  padding: 15px 0;
  position: relative;
  display: block; }
  .user h2 {
    float: left;
    padding-right: 70px; }
  .user a {
    font-size: 1rem;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 60px;
    text-align: center; }

.log-out {
  background: #f34843;
  color: #f2f2f2; }
  .log-out :hover {
    background: #f2f2f2;
    color: #f34843; }

.page-title {
  text-align: center;
  margin: 50px 0 25px 0; }

.create-new-event {
  background: #ffcb00;
  padding: 10px;
  border-radius: 5px;
  color: #141414; }

.new-event-label {
  width: 100%;
  float: left;
  padding-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2.6rem; }

.new-event-name-input,
.new-event-button {
  border: none;
  float: left; }

.new-event-name-input {
  width: 100%;
  border-radius: 5px;
  padding: 10px; }

.new-event-button {
  position: relative;
  left: 37%;
  border-radius: 5px;
  background: #117842;
  color: #f2f2f2;
  padding: 10px 20px;
  margin: 10px; }

.go-to-event,
.create-new-event {
  padding: 10px;
  border-radius: 5px; }

.go-to-event {
  width: calc(100% - 55px);
  float: left;
  background: #505050;
  color: white;
  font-family: "Muli", sans-serif; }

.create-new-event,
.event {
  max-width: 500px;
  width: 80%;
  display: block;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto 15px auto;
  position: relative; }

.delete-button {
  background: #f34843;
  height: 45px;
  width: 45px;
  float: left;
  color: white;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  position: absolute;
  margin-left: 10px;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.fa-times {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  font-size: 2.5rem; }

.event-page .event-title {
  margin: 25px 0; }
  .event-page .event-title h2 {
    font-size: 5rem;
    float: left;
    width: 50%; }
  .event-page .event-title a {
    font-size: 2rem;
    float: left;
    width: 50%;
    margin: 20px 0;
    text-align: right; }

.event-page .guestList {
  float: left;
  width: calc(20% - 20px);
  margin: 25px 10px; }

.event-page .guest p {
  font-size: 2.5rem;
  float: left;
  width: 80%; }

.event-page .fakeButton {
  float: left;
  width: 10%; }
  .event-page .fakeButton i {
    font-size: 1.8rem; }

.event-page button.remove-friend {
  float: left;
  width: calc(10% - 4px);
  margin: 0px 2px;
  color: #f34843;
  border: none;
  font-size: 1.9rem; }

.event-page .matching-recipes {
  float: left;
  width: calc(80% - 20px);
  margin: 25px 10px; }

.event-page .guests {
  overflow: scroll; }

.event-page li.guest {
  margin: 5px 0px; }

.event-page .guestList a {
  font-size: 1.6rem;
  display: inline-block;
  margin: 10px 0;
  color: #f34843; }

.event-page .guestList form {
  position: relative;
  padding: 0; }

.event-page .guestList label {
  position: absolute;
  transform: translate(0, 16px) scale(1);
  top: -10px; }
  .event-page .guestList label .active {
    transform: translate(0, 4px) scale(0.75);
    top: -16px; }

.event-page .guestList input {
  border: none;
  outline: 0;
  font-size: 1.6rem;
  padding: 16px 0 10px; }

.event-page .add-friend button {
  border: #f34843 1px solid;
  border-radius: 5px;
  background: #f34843;
  padding: 7px;
  margin-top: 5px;
  position: relative;
  left: 75%;
  color: white; }

.event-page .filter-recipes-form label {
  font-size: 2.5rem; }

.event-page .filter-recipes-form input {
  width: calc(90% - 30px);
  font-size: 1.8rem;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 15px; }

.event-page .courses {
  width: 100%;
  border: none; }

.event-page .courses label {
  display: inline-block;
  width: calc(100% / 4);
  font-size: 1.5rem; }

* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto; }

ul {
  list-style: none; }

body {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(./assets/heroBGweb.jpg) 50% 50% fixed;
  background-size: 100% auto; }

a {
  text-decoration: none; }

.section-header {
  text-align: center;
  padding: 20px 0; }

@media (max-width: 727px) {
  .app-name {
    font-size: 11rem; }
  .app-name-sub-header {
    font-size: 2.3rem; }
  .inner-header .app-name {
    float: none;
    text-align: center;
    font-size: 4rem; }
  .inner-header .user {
    float: none; }
    .inner-header .user a {
      text-align: center;
      top: 60px;
      right: 45%;
      position: absolute; }
  .inner-header .user h2 {
    font-size: 2.5rem;
    float: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px; } }

@media (max-width: 615px) {
  .app-name {
    font-size: 10rem; }
  .app-name-sub-header {
    font-size: 2rem; }
  .section-header {
    font-size: 2.8rem; }
  .new-event-button {
    padding: 10px;
    float: none;
    left: 0; }
  .new-event-name-input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px; }
  .new-event-label {
    text-align: center; }
  .create-new-event {
    margin: 0 auto;
    width: 100%; }
  li.event {
    width: 100%; } }

@media (max-width: 555px) {
  .app-name {
    font-size: 8rem; } }

@media (max-width: 450px) {
  .app-name {
    font-size: 7rem; }
  .log-in-form .buttons {
    width: 100%; } }

@media (max-width: 385px) {
  .app-name {
    font-size: 6rem; }
  .log-in-form {
    width: 100%; }
  .user {
    float: none;
    width: 100%;
    height: 85px; }
    .user h2 {
      text-align: center;
      font-size: 2.5rem;
      float: none;
      padding: 0; }
    .user a {
      top: 20%;
      left: 43%;
      float: none;
      position: relative; }
  header .app-name {
    float: none;
    text-align: center;
    font-size: 5rem;
    padding: 15px 0 0 0; } }
